@import "tailwindcss";

@theme {
    --color-primary: #D3D8C0;
    --color-secondary: #1356BE;
    --color-light: #EEEFE1;
    --color-yellow: #F3E668;
}
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-fahkwang: var(--font-fahkwang);
    --font-manrope: var(--font-manrope);
  }
@utility container {
    padding-inline: 10px;
    margin-inline: auto;

    @variant sm {
      padding-inline: 20px;
    }
    @variant lg {
      padding-inline: 80px;
    }
  }
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-primary);
}
